%btn {
  // % 기호는 뭐냐면, 다른 스타일시트에 @extend 명령어를 이용해서
  // '상속'해주고 싶은 스타일시트의 이름 옆에 붙여주는 것. -> 이걸 해주면 다른 스타일시트로 상속할 수 있음.
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  @include set-background(
    lighten($primary-color, 10%)
  ); // built-in 함수가 리턴해주는 값을 인자로 전달하여 mixin을 호출함.
}

.btn-secondary {
  @extend %btn;
  @include set-background(
    $secondary-color
  ); // built-in 함수가 리턴해주는 값을 인자로 전달하여 mixin을 호출함.
}
