%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-primary {
  @extend %btn;
  @include set-background(
    lighten($primary-color, 10%)
  ); // built-in 함수가 리턴해주는 값을 인자로 전달하여 mixin을 호출함.
}

.btn-secondary {
  @extend %btn;
  @include set-background(
    $secondary-color
  ); // built-in 함수가 리턴해주는 값을 인자로 전달하여 mixin을 호출함.
}
