@import "config";
@import "utilities";
@import "buttons";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  // _config.scss 에서 정의한 @mixin을 이용하여 배경색과 그에 따른 텍스트 컬러를 자동으로 지정함.
  @include set-background($primary-color);
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: set-text-color(
        $primary-color
      ); // 얘도 마찬가지로 배경색에 따라 색상값을 리턴해주는 함수 사용!
    }

    a:hover {
      color: $secondary-color;
    }
  }

  a {
    color: #fff;
  }

  &-content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }

    p {
      margin: 20px 0;
    }
  }
}
